<div class="certificates">
    <h2 id="certifications" class="projects-headings">Certificates & Badges</h2>
    <div class="line"></div>
    <div class="badges">
        <h2 class="badge-title">Badges</h2>
        <div class="badges-container">
            <div class="badge-card">
                <img loading="lazy" src="assets/assets/img/javascript essential.png" alt="JavaScript Essesntial 1"
                    class="badge-image">
                <h3>JavaScript Essesntial 1</h3>
                <p><strong>JavaScript, Variables, Data Types, Control Flow, Functions, Debugging, User Interaction, Web Development</strong></p>
            </div>
            <div class="badge-card">
                <img loading="lazy" src="https://tryhackme.com/img/badges/introtooffensivesecurity.svg"
                    alt="Pentesting Principles" class="badge-image">
                <h3>Pentesting Principles</h3>
                <p><strong>Penetration Testing, Reconnaissance, , Security Concepts, Attack Methodologies</strong></p>
            </div>
            <div class="badge-card">
                <img loading="lazy" src="https://tryhackme.com/img/badges/networkfundamentals.svg" alt="Networking Nerd"
                    class="badge-image">
                <h3>Networking Nerd</h3>
                <p><strong>Networking Fundamentals, TCP/IP, IP Addressing, Network Protocols, Data Transmission, Network Troubleshooting</strong></p>
            </div>
            <div class="badge-card">
                <img loading="lazy" src="https://tryhackme.com/img/badges/howthewebworks.svg" alt="World Wide Web"
                    class="badge-image">
                <h3>World Wide Web</h3>
                <p><strong>HTTP, HTTPS, Web Servers, Browsers, Domains, Client-Server Model, Web Fundamentals</strong></p>
            </div>
            <div class="badge-card">
                <img loading="lazy" src="https://tryhackme.com/img/badges/webbed.svg"
                    alt="Webbed" class="badge-image">
                <h3>Webbed</h3>
                <p><strong>Web Technologies, Web Security, Common Vulnerabilities, Web Attacks, Application Security, OWASP Basics</strong></p>
            </div>
            <div class="badge-card">
                <img loading="lazy" src="https://tryhackme.com/img/badges/linux.svg"
                    alt="Cat Linux.txt" class="badge-image">
                <h3>Cat Linux.txt</h3>
                <p><strong>Linux Fundamentals, Command Line, File System, Permissions, Terminal Usage, System Navigation</strong></p>
            </div>
           
        </div>
    </div>
    <div class="certificates-list">
        <h2 class="certificate-title">Certificates</h2>
        <ul>
            <li>
                <a href="certificate-url" class="certificate-name" data-img="https://tryhackme-certificates.s3-eu-west-1.amazonaws.com/THM-5RGBIGM7K1.png">
                   pre security- TryHackMe
                </a>
            </li>
            <li>
                <a href="certificate-url" class="certificate-name" data-img="https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~NKBMUAZQ2B8R/CERTIFICATE_LANDING_PAGE~NKBMUAZQ2B8R.jpeg">
                    Ethical hacking essential (EHE)- Ec-Council

                </a>
            </li>
            <li>
                <a href="certificate-url" class="certificate-name" data-img="https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~GEF76RLAKYJR/CERTIFICATE_LANDING_PAGE~GEF76RLAKYJR.jpeg">
                   kaali linux- board infinty
                </a>
            </li>
            <li>
                <a href="certificate-url" class="certificate-name" data-img="https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~ZEVVORXI7GXE/CERTIFICATE_LANDING_PAGE~ZEVVORXI7GXE.jpeg">
                    Foundations of cybersecurity- coursera
                </a>
            </li>
            <li>
                <a href="certificate-url" class="certificate-name" data-img="https://images.credly.com/size/340x340/images/b93bf373-3da6-4ada-9879-a0c39d6a11f8/image.png">
                   JavaScript Essential 1-cisco
                </a>
            </li>
           
        </ul>

        <div class="certificate-card" id="certificate-card">
            <img id="certificate-img" alt="Certificate Image" class="badge-image">
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('.certificate-name').forEach(item => {
        item.addEventListener('mousemove', event => {
            const imgSrc = event.target.getAttribute('data-img');
            const imgElement = document.getElementById('certificate-img');
            const certificateCard = document.getElementById('certificate-card');
            imgElement.src = imgSrc;
            certificateCard.style.display = 'block';
            const offsetX = 10;
            const offsetY = 30;
            certificateCard.style.left = event.pageX + offsetX + 'px';
            certificateCard.style.top = event.pageY + offsetY + 'px';
        });
        item.addEventListener('mouseout', () => {
            document.getElementById('certificate-card').style.display = 'none';
        });
        item.addEventListener('click', event => {
            event.preventDefault();
            const imgSrc = event.target.getAttribute('data-img');
            const imgElement = document.getElementById('certificate-img');
            const certificateCard = document.getElementById('certificate-card');
            imgElement.src = imgSrc;
            certificateCard.style.display = 'block';
            const offsetX = 20;
            const offsetY = 20;
            certificateCard.style.left = event.pageX + offsetX + 'px';
            certificateCard.style.top = event.pageY + offsetY + 'px';
        });
    });
</script>
