<h1>Aqeel Maseeroor</h1>
<p>Cybersecurity Engineer  | Penetration Testing | Secure Software Development</p>
<p>"Just another human sudoing through exploits, one script at a time.."</p>
<p>
    <a target="_blank" rel="noopener" href="mailto:aqeelmasroor741@gmail.com"> Email</a> |
    <a target="_blank" rel="noopener" href="www.linkedin.com/in/aqeel-maseeroor-08b599351"> LinkedIn</a> |
    <a target="_blank" rel="noopener" href="https://github.com/Aqeeel12"> GitHub</a> |
    <a target="_blank" rel="noopener" href="https://x.com/aqeelmasroor"> Twitter(X)</a> |
    <a target="_blank" rel="noopener"
        href="">Resume</a>
</p>
<div class="mouse" id="mouseElement"></div>
<script>
    for (let i = 0; i <= 60; i++) {
        setTimeout(() => {
            document.getElementById("mouseElement").style.opacity = i / 100;
            document.getElementById("navbarToggle").style.opacity = i / 1000;
        }, i * 200);
    }
    window.addEventListener("scroll", function () {
        const mouseElement = document.querySelector(".mouse");
        if (window.scrollY > 10) {
            mouseElement.style.display = "none";
            document.getElementById("navbarToggle").style.opacity =100
        }
    });
</script>
