<title>Aqeel Maseeroor - Cybersecurity Portfolio |Pentesting & Secure Programming</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="author" content="Aqeel Maseeroor">
<meta name="description"
    content="Cybersecurity portfolio of Aqeel Maseeroor focusing on Pentesting, Secure Programming, Networking, and Linux, and connect for collaborations.">
<meta name="keywords" content="Cybersecurity, Pentesting, Linux, Networking, Secure Programming,aqeel maseeroor, Portfolio">
<meta name="google-site-verification" content="mQ-88YZNZJrWwQFSRc401TSthUnn6N227bh4zJwWJeQ">

<meta property="og:title" content="Aqeel Maseeroor - Cybersecurity, Linux, programming Expert Portfolio">
<meta property="og:description"
    content="Explore my cybersecurity, Linux projects. Connect to collaborate on Linux, DevOps, and security innovations!">
<meta property="og:url" content="https://mr-alham.github.io/">
<meta property="og:type" content="website">
<meta property="og:image" content="https://mr-alham.github.io/assets/img/portfolio-preview.png">

<link rel="canonical" href="https://github.com/Aqeeel12">
<link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWmp6OeDXUn_x6xapjJALZs2WnB7r8hlPWzQ&s">
<!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png"> -->

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Aqeel Maseeroor",
  "jobTitle": "Cybersecurity Engineer",
  "url": "https://github.com/Aqeeel12",
  "sameAs": [
    "https://github.com/Aqeeel12",
    "https://www.linkedin.com/in/aqeel-maseeroor-08b599351/,
    "https://x.com/aqeelmasroor"
  ],
  "gender": "Male",
  "email": "aqeelmasroor741@gmail.com"
}
</script>

<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
